.hero{
    height: 125vh;
    z-index: -1;
    position: absolute;
    bottom: 0;
    background-color: aliceblue;
    background-size: cover;

}
.hero::before {
    content: '';
    /* background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1150&q=80'); */
    
    /* height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1; */
    /* filter: blur(30px); */
  }
  .hero-content{
    margin-top: 21rem;
  }
  /* .img-container{
    margin-top: 21rem;

  } */
  .text-glow {
    text-shadow: 0 0 80px rgba(189, 211, 238, 0.75), 0 0 32px rgb(65 120 255 / 24%);
  }

  .title{
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .btn-glow:hover {
    box-shadow: rgba(111, 76, 255, 0.5) 0px 0px 20px 0px;
  }
  
  /* https://sushi.com/ */
  .btn-gradient {
    background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
    border: 0;
    color: rgba(256, 256, 256);
  }